Source: g5k-api
Section: unknown
Priority: extra
Maintainer: Cyril Rohr <cyril.rohr@inria.fr>
Uploaders: Sebastien Badia <sebastien.badia@inria.fr>
Build-Depends: debhelper (>= 7), libmysqlclient15-dev, libxml2-dev, libxslt-dev
Standards-Version: 3.7.3
Homepage: https://api.grid5000.fr

Package: g5k-api
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.9.1-full, git-core, libxml2, libxslt1.1
Description: Grid'5000 API
 The API built on top of the Grid'5000 tools.
