Source: g5kapi
Section: unknown
Priority: extra
Maintainer: Cyril Rohr <cyril.rohr@inria.fr>
Build-Depends: debhelper (>= 7), libmysqlclient15-dev
Standards-Version: 3.7.3
Homepage: https://api.grid5000.fr

Package: g5kapi
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, rubygem-bundler, ruby1.9.1-full
Description: Grid'5000 API
 The API built on top of the Grid'5000 tools.
