[Unit]
Description=g5k-api HTTP daemon
Requires=network.target
After=network.target

[Service]
User=g5k-api
Group=g5k-api
Environment=PORT=8000
ExecStart=/usr/bin/g5k-api server -a 127.0.0.1 --max-persistent-conns 200 start
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target
