[Unit]
Description=g5k-api HTTP daemon
Requires=network.target
After=network.target

[Service]
User=g5k-api
Group=g5k-api
ExecStart=/usr/bin/g5k-api rails server -b 127.0.0.1 -p 8000 -e production
Restart=on-failure

[Install]
WantedBy=multi-user.target
