#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --with=systemd

override_dh_auto_build:
	g5k_dh_ruby_vendorize g5k-api build
	dh_auto_build

override_dh_auto_clean:
	g5k_dh_ruby_vendorize g5k-api clean
	dh_auto_clean
