%h1{:title => "visualizations"} Visualizations

#content
  %ul
    %li
      %p
        %a{:href => relative_path_to("/visualizations/map.html")}
          Map
      %a{:href => relative_path_to("/visualizations/map.html")}
        %img{:src => relative_path_to("/images/screenshots/visualizations/map.png")}
    %li  
      %p
        %a{:href => relative_path_to("/visualizations/gantt.html?width=800&height=600")}
          Gantt
      %a{:href => relative_path_to("/visualizations/gantt.html?width=800&height=600")}
        %img{:src => relative_path_to("/images/screenshots/visualizations/gantt.png")}
    %li  
      %p
        %a{:href => relative_path_to("/visualizations/status.html")}
          Status
      %a{:href => relative_path_to("/visualizations/status.html")}
        %img{:src => relative_path_to("/images/screenshots/visualizations/status.png")}
    %li  
      %p
        %a{:href => relative_path_to("/visualizations/historical.html")}
          Historical
      %a{:href => relative_path_to("/visualizations/historical.html")}
        %img{:src => relative_path_to("/images/screenshots/visualizations/historical.png")}
