- content_for :before_js do
  %script{:src => "http://api.simile-widgets.org/exhibit/2.2.0/exhibit-api.js?autoCreate=false"}
  %script{:src => relative_path_to("/javascripts/lib/exhibit.js")}
  %script{:src => "http://api.simile-widgets.org/exhibit/2.2.0/extensions/map/map-extension.js?gmapkey=ABQIAAAAswD5nCsXqPrfB-uqmRIkshSdgCV34beAmIbkhlY5Su_PpSdtqhRs8AwfLLKJ6ARAwSOjf724JqlTOg"}
  
%h1{:title => "map"} Map


#content
  #nodes-count-coder{"ex:role" => "coder", "ex:coderClass"=>"SizeGradient", "ex:gradientPoints"=>"0, 40; 500, 100"}
  #cores-count-coder{"ex:role" => "coder", "ex:coderClass"=>"SizeGradient", "ex:gradientPoints"=>"0, 40; 3000, 100"}
  .views{"ex:role" => "viewPanel"}
    #view1{"ex:role" => "view", "ex:viewClass"=>"Map", "ex:zoom" => 6, "ex:center" => "47,2", "ex:mapHeight" => 600, "ex:type" => "hybrid", "ex:sizeKey" => ".nodes_count", "ex:sizeCoder"=>"nodes-count-coder", "ex:sizeLegendLabel"=>"Number of nodes", "ex:label"=>"Sites by number of nodes", "ex:latlng"=>".latlng"}
    #view2{"ex:role" => "view", "ex:viewClass"=>"Map", "ex:zoom" => 6, "ex:center" => "47,2", "ex:mapHeight" => 600, "ex:type" => "hybrid", "ex:sizeKey" => ".cores_count", "ex:sizeCoder"=>"cores-count-coder", "ex:sizeLegendLabel"=>"Number of cores", "ex:label"=>"Sites by number of cores", "ex:latlng"=>".latlng"}
    .map-lens{"ex:role"=>"lens", "style"=>"display: none;"}
      %div
        %b{"ex:content" => ".label"}
      %div
        %span{"ex:content" => ".nodes_count"}
        nodes
      %div
        %span{"ex:content" => ".cores_count"}
        cores
      %div
        Location
        %span{"ex:content" => ".location"}
        
#sidebar
  #widget-grid-status{:class => 'widget'}
