- content_for :before_js do
  %script{:src => relative_path_to("/javascripts/vendor/exhibitv2/exhibit/api/exhibit-api.js")+"?autoCreate=false",
          :type => "text/javascript"}
  %script{:src => relative_path_to("/javascripts/lib/exhibit.js"),
          :type => "text/javascript"}

%h2
  Page not found
