- content_for :before_js do
  %script{:src => "https://api.grid5000.fr/exhibitv2/exhibit/api/exhibit-api.js?autoCreate=false",
          :type => "text/javascript"}
  %script{:src => relative_path_to("/javascripts/lib/exhibit.js"),
          :type => "text/javascript"}

%h1{:title => @title}= @title

%ul
  %li
    Please remember that you must create a ~/public directory in your home directory of each site you want to use.
#console.clear.small
  %h2 Console
  .log
    %table
      %tbody

#actions

#resources
  %h2 Resources
  .display
    %form.bp{:method => "POST", :action => ""}
      %div{"ex:role" => "viewPanel"}
        %div{"ex:role" => "lens", :class => "node"}
          %div{"ex:content" => ".label"}
        %div{"ex:role" => "view", "ex:grouped" => "true", "ex:orders" => ".site_uid, .cluster_uid", "ex:possibleOrders" => ".site_uid, .cluster_uid", "ex:showAll" => "true", "ex:showSummary" => "true"}
      %div.buttons{:style => "display: none"}
        %input{:type => "submit", :value => "Launch"}

  .facets
    %h3 Facets
    %div{"ex:role" => "facet", "ex:facetClass" => "TextSearch", "ex:facetLabel" => "Search"}
    %div#site{"ex:role" => "facet", "ex:expression" => ".site_uid", "ex:scroll" => "true", "ex:facetLabel" => "Site"}
    %div#cluster{"ex:role" => "facet", "ex:expression" => ".cluster_uid", "ex:scroll" => "true", "ex:facetLabel" => "Cluster"}
    #facets1.float
      %div#hard_state{"ex:role" => "facet", "ex:expression" => ".hard_state", "ex:sortMode" => "count", "ex:showMissing" => "false", "ex:scroll" => "false", "ex:facetLabel" => "Hardware State"}
      %div#soft_state{"ex:role" => "facet", "ex:expression" => ".syst_state", "ex:sortMode" => "count", "ex:showMissing" => "false", "ex:scroll" => "false", "ex:facetLabel" => "System State"}
      %div#available_for{"ex:role" => "facet", "ex:facetClass" => "Slider", "ex:expression" => ".available_for", "ex:interval" => "1", "ex:scroll" => "true", "ex:facetLabel" => "Available for (Hours)", "ex:histogram" => "false", "ex:horizontal" => "true", "ex:width" => "100"}
      %div#architecture_smp_size{"ex:role" => "facet", "ex:expression" => ".architecture_smp_size", "ex:sortMode" => "value", "ex:scroll" => "true", "ex:facetLabel" => "# CPUs"}
      %div#architecture_smt_size{"ex:role" => "facet", "ex:expression" => ".architecture_smt_size", "ex:sortMode" => "value", "ex:scroll" => "true", "ex:facetLabel" => "# Cores"}
      %div#main_memory_ram_size{"ex:role" => "facet", "ex:expression" => ".main_memory_ram_size", "ex:sortMode" => "value", "ex:scroll" => "true", "ex:facetLabel" => "RAM (MiB)"}
      %div#processor_clock_speed{"ex:role" => "facet", "ex:expression" => ".processor_clock_speed", "ex:sortMode" => "value", "ex:scroll" => "true", "ex:facetLabel" => "CPU Clock Speed (GHz)"}
      %div#processor_model{"ex:role" => "facet", "ex:expression" => ".processor_model", "ex:sortMode" => "count", "ex:scroll" => "false", "ex:facetLabel" => "Processor model"}
      %div#processor_cache_l1d{"ex:role" => "facet", "ex:expression" => ".processor_cache_l1d", "ex:sortMode" => "value", "ex:scroll" => "false", "ex:facetLabel" => "Processor cache l1d (KiB)"}
      %div#processor_cache_l1i{"ex:role" => "facet", "ex:expression" => ".processor_cache_l1i", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:facetLabel" => "Processor cache l1i (KiB)"}
      %div#processor_cache_l2{"ex:role" => "facet", "ex:expression" => ".processor_cache_l2", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:facetLabel" => "Processor cache l2 (KiB)"}
    #facets2.float
      %div#supported_job_types_virtual{"ex:role" => "facet", "ex:expression" => ".supported_job_types_virtual", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "Virtualization support"}
      %div{"ex:role" => "facet", "ex:expression" => ".supported_job_types_besteffort", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "Besteffort support"}
      %div#supported_job_types_deploy{"ex:role" => "facet", "ex:expression" => ".supported_job_types_deploy", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "Deploy support"}
      %div#nb_ethernet{"ex:role" => "facet", "ex:expression" => ".nb_ethernet", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "# Ethernet interfaces"}
      %div#nb_1G_ethernet{"ex:role" => "facet", "ex:expression" => ".nb_1G_ethernet", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false","ex:facetLabel" => "# 1G Ethernet interfaces"}
      %div#nb_10G_ethernet{"ex:role" => "facet", "ex:expression" => ".nb_10G_ethernet", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false","ex:facetLabel" => "1# 0G Ethernet interfaces"}
      %div#nb_Infiniband{"ex:role" => "facet", "ex:expression" => ".nb_infiniband", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "# Infiniband interfaces"}
      %div#nb_Infiniband_DDR{"ex:role" => "facet", "ex:expression" => ".nb_infiniband_DDR", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "DDR Infiniband interfaces"}
      %div#nb_Infiniband_QDR{"ex:role" => "facet", "ex:expression" => ".nb_infiniband_QDR", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "QDR Infiniband interfaces"}
      %div#nb_Infiniband_FDR{"ex:role" => "facet", "ex:expression" => ".nb_infiniband_FDR", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "FDR Infiniband interfaces"}
      %div#nb_Myrinet{"ex:role" => "facet", "ex:expression" => ".nb_myrinet", "ex:height" => 80, "ex:sortMode" => "count", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "Myrinet interfaces"}
      %div#storage_devices{"ex:role" => "facet", "ex:expression" => ".nb_storage_devices", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:facetLabel" => "# local storage devices"}
      %div#storage_devices_SATA{"ex:role" => "facet", "ex:expression" => ".nb_storage_devices_SATA", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "# SATA devices"}
      %div#storage_devices_SATAII{"ex:role" => "facet", "ex:expression" => ".nb_storage_devices_SATA_II", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "# SATA II devices"}
      %div#storage_devices_SAS{"ex:role" => "facet", "ex:expression" => ".nb_storage_devices_SAS", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "# SAS devices"}
      %div#storage_devices_SCSI{"ex:role" => "facet", "ex:expression" => ".nb_storage_devices_SCSI", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "# SCSI devices"}
      %div#storage_devices_HDD{"ex:role" => "facet", "ex:expression" => ".nb_storage_devices_HDD", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "# HDD"}
      %div#storage_devices_SSD{"ex:role" => "facet", "ex:expression" => ".nb_storage_devices_SSD", "ex:height" => 80, "ex:sortMode" => "value", "ex:scroll" => "false", "ex:showMissing" => "false", "ex:facetLabel" => "# SSD"}
      %div#max_storage_capacity{"ex:role" => "facet", "ex:facetClass" => "Slider", "ex:expression" => ".max_storage_capacity_device", "ex:interval" => "20", "ex:scroll" => "true", "ex:facetLabel" => "Capacity (of largest storage) in GB", "ex:histogram" => "true", "ex:horizontal" => "true", "ex:width" => "100"}	      
      %div#aggregate_storage_capacity{"ex:role" => "facet", "ex:facetClass" => "Slider", "ex:expression" => ".storage_capacity_node", "ex:interval" => "20", "ex:scroll" => "true", "ex:facetLabel" => "Capacity (by node) in GB", "ex:histogram" => "true", "ex:horizontal" => "true", "ex:width" => "100"}		
