/* line 4, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 42, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 45, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 48, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 50, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 52, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 54, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 27, content/stylesheets/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 68, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 70, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 77, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 22, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 26, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 30, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 81, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 83, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 84, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 86, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp del {
  color: #666666;
}
/* line 89, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 92, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 94, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 95, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 96, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 97, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 98, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 100, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 101, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 103, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 104, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 105, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 106, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/content/images/grid.png?1284564038');
}
/* line 4, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/./blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 49, content/stylesheets/screen.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, content/stylesheets/screen.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 53, content/stylesheets/screen.scss */
body.two-col #main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.two-col #main {
  overflow-x: hidden;
}
/* line 56, content/stylesheets/screen.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}
/* line 58, content/stylesheets/screen.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}

/* line 65, content/stylesheets/screen.scss */
#header {
  text-align: center;
}
/* line 67, content/stylesheets/screen.scss */
#header ul {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
  background-color: transparent;
}
/* line 70, content/stylesheets/screen.scss */
#header ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  margin-top: 2px;
  margin-left: 10px;
  text-align: center;
}
/* line 75, content/stylesheets/screen.scss */
#header ul li a {
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  display: block;
  /*  border-left: 10px solid #1958b7;*/
  /*  border-right: 10px solid #508fc4;*/
  /*  background-color: #2175bc;*/
  /*  background-color: #555;*/
  padding: 2px 10px;
  color: #eee;
  text-decoration: none;
  background-color: #2561D7;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  min-width: 80px;
}
/* line 91, content/stylesheets/screen.scss */
#header ul li a:hover {
  color: #fff;
  background-color: #2586d7;
  font-weight: bold;
}

/* line 100, content/stylesheets/screen.scss */
#footer {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
  background-color: transparent;
}
/* line 106, content/stylesheets/screen.scss */
#footer p.license {
  float: left;
}
/* line 109, content/stylesheets/screen.scss */
#footer ul {
  float: right;
  right: 1em;
}
/* line 112, content/stylesheets/screen.scss */
#footer ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  margin-top: 2px;
  margin-left: 10px;
}

/* line 121, content/stylesheets/screen.scss */
.loading h1, .loading h2, .loading .title {
  background: url("../images/ajax-loader.gif") no-repeat center right;
}

/* line 131, content/stylesheets/screen.scss */
body.quick-start #console .log {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
  color: #666666;
  background-color: #333;
  color: #ccc;
  margin: 10px;
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 200px;
}
/* line 143, content/stylesheets/screen.scss */
body.quick-start #console .log textarea {
  background-color: transparent;
  border: 0px;
  color: inherit;
  font: inherit;
  max-height: 1.8em;
  margin: 0px;
  width: 100%;
}
/* line 152, content/stylesheets/screen.scss */
body.quick-start #console .log textarea.large {
  max-height: 60px;
}
/* line 155, content/stylesheets/screen.scss */
body.quick-start #console .log td {
  vertical-align: top;
  padding: 2px;
}
/* line 159, content/stylesheets/screen.scss */
body.quick-start #console .log td.meta {
  width: 220px;
  opacity: 0.5;
}
/* line 163, content/stylesheets/screen.scss */
body.quick-start #console .log tr.W {
  color: #ff0;
}
/* line 164, content/stylesheets/screen.scss */
body.quick-start #console .log tr.E {
  color: red;
}
/* line 168, content/stylesheets/screen.scss */
body.quick-start #actions {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
  background-color: transparent;
  text-align: center;
}
/* line 175, content/stylesheets/screen.scss */
body.quick-start #resources .display {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.quick-start #resources .display {
  overflow-x: hidden;
}
/* line 177, content/stylesheets/screen.scss */
body.quick-start #resources .display .buttons {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
  background-color: transparent;
  text-align: center;
}
/* line 182, content/stylesheets/screen.scss */
body.quick-start #resources .display .slider {
  margin: 5px;
  position: relative;
}
/* line 185, content/stylesheets/screen.scss */
body.quick-start #resources .display .slider .title {
  font-size: 1em;
  line-height: 2.5em;
}
/* line 189, content/stylesheets/screen.scss */
body.quick-start #resources .display .slider .sticker {
  position: absolute;
  right: 5px;
  top: 0px;
}
/* line 193, content/stylesheets/screen.scss */
body.quick-start #resources .display .slider .sticker input {
  width: 40px;
  text-align: right;
}
/* line 201, content/stylesheets/screen.scss */
body.quick-start #resources .display .slider input.no-border {
  border: 0;
  font-weight: bold;
  font-size: 1em;
}
/* line 208, content/stylesheets/screen.scss */
body.quick-start #resources .display .slider input.no-border:focus {
  border: 0;
}
/* line 212, content/stylesheets/screen.scss */
body.quick-start #resources .display .options {
  display: none;
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  background-color: #eee;
  margin: 10px;
  font-size: 1em;
}
/* line 220, content/stylesheets/screen.scss */
body.quick-start #resources .display .options select {
  width: 100%;
}
/* line 223, content/stylesheets/screen.scss */
body.quick-start #resources .display .options textarea {
  width: 98%;
  height: 30px;
}
/* line 229, content/stylesheets/screen.scss */
body.quick-start #resources .facets {
  margin-left: 30px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.quick-start #resources .facets {
  overflow-x: hidden;
}
/* line 233, content/stylesheets/screen.scss */
body.quick-start #resources .facets #facets1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.quick-start #resources .facets #facets1 {
  overflow-x: hidden;
}
/* line 236, content/stylesheets/screen.scss */
body.quick-start #resources .facets #facets2 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.quick-start #resources .facets #facets2 {
  overflow-x: hidden;
}

/* line 247, content/stylesheets/screen.scss */
body.metrics #sidebar ul {
  list-style-type: none;
  padding: 0;
  float: left;
  margin: 5px;
}

/* line 257, content/stylesheets/screen.scss */
body.jobs #content ul.actions {
  list-style-type: none;
  text-align: center;
}
/* line 260, content/stylesheets/screen.scss */
body.jobs #content ul.actions li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
}
/* line 265, content/stylesheets/screen.scss */
body.jobs #sidebar ul.actions {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 270, content/stylesheets/screen.scss */
body.jobs #sidebar ul {
  text-align: center;
}
/* line 272, content/stylesheets/screen.scss */
body.jobs #sidebar ul li {
  text-align: left;
  margin: 1px;
}
/* line 275, content/stylesheets/screen.scss */
body.jobs #sidebar ul li a {
  display: block;
  border-bottom: 1px solid white;
  text-decoration: none;
}
/* line 280, content/stylesheets/screen.scss */
body.jobs #sidebar ul li a:visited, body.jobs #sidebar ul li a:active {
  color: blue;
}
/* line 283, content/stylesheets/screen.scss */
body.jobs #sidebar ul li a.selected {
  border-right: 5px solid #f99b39;
}

/* line 292, content/stylesheets/screen.scss */
body.events #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 736.667px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.events #content {
  overflow-x: hidden;
}
/* line 294, content/stylesheets/screen.scss */
body.events #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 203.333px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.events #sidebar {
  overflow-x: hidden;
}
/* line 299, content/stylesheets/screen.scss */
body.events #events table {
  width: 100%;
  margin-bottom: 20px;
}
/* line 302, content/stylesheets/screen.scss */
body.events #events table th {
  color: white;
  background: #70a8c4;
  padding: 2px 4px;
  text-align: center;
  font-weight: bold;
}
/* line 309, content/stylesheets/screen.scss */
body.events #events table td {
  padding: 3px;
}
/* line 312, content/stylesheets/screen.scss */
body.events #events table td.center {
  text-align: center;
}
/* line 315, content/stylesheets/screen.scss */
body.events #events table td.date {
  letter-spacing: 0em;
}
/* line 321, content/stylesheets/screen.scss */
body.events #past-events table th {
  background: #66cc33;
}
/* line 325, content/stylesheets/screen.scss */
body.events #current-events table th {
  background: red;
}
/* line 329, content/stylesheets/screen.scss */
body.events #planned-events table th {
  background: #70a8c4;
}
/* line 334, content/stylesheets/screen.scss */
body.events #facets ul {
  list-style-type: none;
  padding-left: 10px;
}
/* line 337, content/stylesheets/screen.scss */
body.events #facets ul li {
  text-align: center;
  padding: 5px;
}
/* line 340, content/stylesheets/screen.scss */
body.events #facets ul li a {
  background: #efffb1;
  padding: 5px 10px 5px 10px;
  display: block;
  border-bottom: 1px solid white;
  text-decoration: none;
}
/* line 347, content/stylesheets/screen.scss */
body.events #facets ul li a.highlighted {
  color: white;
  background: #f99b39;
}
/* line 355, content/stylesheets/screen.scss */
body.events #syndication {
  text-align: center;
}
/* line 357, content/stylesheets/screen.scss */
body.events #syndication img {
  width: 100px;
  height: 100px;
}
/* line 363, content/stylesheets/screen.scss */
body.events textarea {
  font-size: 12px;
}

/* line 369, content/stylesheets/screen.scss */
body.visualizations #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  text-align: center;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.visualizations #content {
  overflow-x: hidden;
}
/* line 373, content/stylesheets/screen.scss */
body.visualizations img {
  text-align: center;
  border: 1px solid #ccc;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
/* line 379, content/stylesheets/screen.scss */
body.visualizations a:hover img {
  -moz-box-shadow: black 1px 1px 5px 0;
  -webkit-box-shadow: black 1px 1px 5px 0;
  -o-box-shadow: black 1px 1px 5px 0;
  box-shadow: black 1px 1px 5px 0;
}
/* line 383, content/stylesheets/screen.scss */
body.visualizations #content ul {
  list-style-type: none;
}
/* line 385, content/stylesheets/screen.scss */
body.visualizations #content ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  text-align: center;
  margin: 5px;
}

/* line 395, content/stylesheets/screen.scss */
body.map #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.map #content {
  overflow-x: hidden;
}
/* line 397, content/stylesheets/screen.scss */
body.map #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: -10px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.map #sidebar {
  overflow-x: hidden;
}

/* line 403, content/stylesheets/screen.scss */
.widget .title {
  font-size: 2em;
}

/* line 409, content/stylesheets/screen.scss */
body.historical #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 736.667px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.historical #content {
  overflow-x: hidden;
}
/* line 411, content/stylesheets/screen.scss */
body.historical #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 203.333px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.historical #sidebar {
  overflow-x: hidden;
}

/* line 417, content/stylesheets/screen.scss */
body.gantt #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 822px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.gantt #content {
  overflow-x: hidden;
}
/* line 420, content/stylesheets/screen.scss */
body.gantt #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 118px;
}
/* line 139, /Users/crohr/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html body.gantt #sidebar {
  overflow-x: hidden;
}
/* line 423, content/stylesheets/screen.scss */
body.gantt #sidebar ul {
  padding-left: 20px;
}
/* line 426, content/stylesheets/screen.scss */
body.gantt #sidebar a {
  text-decoration: none;
}

/* line 433, content/stylesheets/screen.scss */
body.dashboard #content ul#widgets {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 439, content/stylesheets/screen.scss */
body.dashboard #news ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 444, content/stylesheets/screen.scss */
body.dashboard #news li {
  padding: 10px;
  margin: 0px;
  border-bottom: 1px solid #eee;
  text-align: left;
  word-wrap: break-word;
}
/* line 451, content/stylesheets/screen.scss */
body.dashboard #news .meta {
  margin-top: 2px;
  font-size: 0.8em;
}
/* line 455, content/stylesheets/screen.scss */
body.dashboard #news .meta > span.date {
  color: #000;
  background-color: #eee;
}
/* line 459, content/stylesheets/screen.scss */
body.dashboard #news .meta > span.tags {
  margin-left: 4px;
  color: #000;
  background-color: #eee;
  padding: 0px 2px;
  font-weight: bold;
}
/* line 466, content/stylesheets/screen.scss */
body.dashboard #news li.last {
  border-bottom: 0px solid #cacaca;
}

/* line 475, content/stylesheets/screen.scss */
body .exhibit-menu-popup a {
  text-decoration: none;
}
/* line 478, content/stylesheets/screen.scss */
body .exhibit-facet-value a, body .exhibit-flowingFacet-value a {
  text-decoration: none;
}
